@tailwind base;
@tailwind components;
@tailwind utilities;
.min-h-screen-app {
    min-height: calc(100vh - 5.3vh);
  }

  :root {
    --azure-radiance-50: #eff5ff;
    --azure-radiance-100: #dbe8fe;
    --azure-radiance-200: #bfd7fe;
    --azure-radiance-300: #93bbfd;
    --azure-radiance-400: #609afa;
    --azure-radiance-500: #3b82f6;
    --azure-radiance-600: #2570eb;
    --azure-radiance-700: #1d64d8;
    --azure-radiance-800: #1e55af;
    --azure-radiance-900: #1e478a;
    --azure-radiance-950: #172e54;
  }
  
  /* Utility classes (optional) */
  .text-azure-radiance-500 {
    color: var(--azure-radiance-500);
  }
  
  .bg-azure-radiance-500 {
    background-color: var(--azure-radiance-500);
  }
  
  .border-azure-radiance-500 {
    border-color: var(--azure-radiance-500);
  }
  
  .hover\:bg-azure-radiance-500:hover {
    background-color: var(--azure-radiance-500);
  }
  